h1 {
   color: #0A2239;
   text-transform: uppercase;
a {
  color: #00ACAB;
}
a:hover {
  color: #0A2239;
}
.box-1 {
  font: courier;
  background: #f7fff7;
  color: #0a2239;
  padding: 10px;
  width: 400px;
  border-radius: 30% 25%/20% 30%;
  margin-right: 150px;
  margin-left: 40px;
}
.box-2 {
  background: #bdbf09;
  color: #0a2239;
  padding: 10px;
  width: 350px;
  border-radius: 40% 40%/30% 50%;
  margin-right: 150px;
  margin-left: 40px;
}
