
h1 {
   color: #0A2239;
   text-transform: uppercase;  
}

a {
  color: #00ACAB;
}
a:hover {
  color: #0A2239;
 
}

#projects {
  border-style: solid;
  border-color: #0A2239
  background-color: #FFEAEE;
  color: 
}
