
h1 {
   color: #0A2239;
   text-transform: uppercase;
}
a {
  color: #00ACAB;
}
a:hover {
  color: #0A2239;
}
.box-1 {
  background: #ffeaee;
  border-radius: 30% 25%/20% 30%;
  color: #0a2239;
  padding: 10em;
  width: 32em;
  border: 5em #0A2239;
  margin-right: 32em;
}
